<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" href="vendors/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



<link rel="stylesheet" type="text/css" href="source/vendors/node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="source/css/user-account.css">

<TITLE>Hello User Name Here!</TITLE>



</head>

<body>

<div id="page-wrapper" class = "page-wrapper">
  <div id ="login-container" class ="login-container">
    <H1>User Landing Page</H1>
    <ul>
      <li>Post Comment</li>
      <li>Friends List</li>
      <li>Settings</li>
    </ul>
  </div>
</div>


</body>
</html>

<script src="source/javascript/user.js"></script>
