#grid
{
    height: 800px;
    margin: 0 auto;
    overflow-y: scroll;
    border-radius: 12px;
}

.grid
{
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.grid::-webkit-scrollbar
{
    width: 0 !important;
}