
a
{
    text-decoration:none;
}

.post-layout-box-2
{
    margin: 15px auto;
    height:200px;
    width:785px; /*(viewport - 10) - 15*/
    padding:0px;
    border-radius: 12px;
    display:block;
    -webkit-box-sizing:border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing:border-box;    /* Firefox, other Gecko */
    box-sizing:border-box;         /* Opera/IE 8+ */
    background-color:#ffffff;
}



.user-profile-icon-container-2
{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color:#ffffff;
    height:150px;
    width:50px;
    float:left;
    display:inline-block;
    margin:0 auto;
    padding:1px;

}


.user-profile-icon-2
{
    height:64px;
    width:64px;
    padding:1px;
}



.spectra-file-attribute-layout-box-2
{
    background-color:#ffffff;
    height:200px; /*220px-15px */
    width:705px;
    margin-left:0;
    display:inline-block;
}



.user-name-container-2
{
    background-color:#ffffff;
    display:block;
    padding:0;
    height:20px;
}

.user-name-2
{
    background-color:#ffffff;
    font-weight:bold;
    font-size:20px;
    float:left;
    margin-bottom:8px;

}

.user-post-date-2
{
    font-weight:bold;
    font-size:16px;
    float:right;
    margin-bottom:8px;
}


.user-post-container-2
{
    background-color:white;
    margin:10px;
    padding:3px;
    display:block;
    word-wrap:break-word;
    white-space:normal;
    height:75px;
    text-align:justify;
    text-justify:inter-word;
    text-indent:15px;
}

.user-post-2
{
    overflow:hidden;
    color:black;
    background-color:white;
}

.reaction-bar-container-2
{
    background-color:#ffffff;
    margin:0 auto;
    margin-top: 30px;
    display:block;
    height: 50px;
}

.reaction-bar-2
{
    width:650px;
    background-color:#ffffff;
    height:36px;
    display:flex;
    padding:1px;
    justify-content:flex-start;
}

.reactions-container-2
{
    display:inline-block;
    background-color:#ffffff;
}

.reaction-icons-2
{
    height:32px;
    width:32px;
    background-color:#ffffff;
    display:inline-block;
    transition-duration:2s;
}

.reaction-icons-2:hover
{
    height:32px;
    width:32px;
    background-color:#ffffff;
    display:inline-block;
    -webkit-animation:rotate-scale-up 0.65s linear both;
    animation:rotate-scale-up 0.65s linear both;
}

.reaction-counters-2
{
    height:22px;
    width:32px;
    font-size:14px;
    display:inline-block;
    margin-right:20px;
    text-align:left;
    vertical-align:middle;
}

@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform:scale(1) rotateZ(0);
        transform:scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform:scale(2) rotateZ(180deg);
        transform:scale(2) rotateZ(180deg);
    }
    100% {
        -webkit-transform:scale(1) rotateZ(360deg);
        transform:scale(1) rotateZ(360deg);
    }
}
@keyframes rotate-scale-up {
    0% {
        -webkit-transform:scale(1) rotateZ(0);
        transform:scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform:scale(2) rotateZ(180deg);
        transform:scale(2) rotateZ(180deg);
    }
    100% {
        -webkit-transform:scale(1) rotateZ(360deg);
        transform:scale(1) rotateZ(360deg);
    }
}




